body {  
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: plum;
    margin: 0;
    padding: 28px;
}
h1 {
    color:darkblue;
}
.gamecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(3, 160, 134);
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    width: 300px;
}
.cell {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: rgb(203, 210, 212);
    border: 2px solid rgb(21, 1, 30);
    cursor: pointer;
}
.cell:hover {
    background-color: rgba(205, 206, 242, 0.822);
}
#restartbtn {
    margin-top: 20px;
    background-color: rgb(4, 179, 149);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
#restartbtn:hover {
    background-color: rgb(167, 222, 145);
}
#statusText{
    margin-top: 20px;
    font-size: 1.2em;
    color: rgb(166, 249, 234);
    font-weight: bold;
}
